<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".atlas" mimeType="text/atlas" />
            <mimeMap fileExtension=".jsc" mimeType="application/x-javascript-config" />
            <mimeMap fileExtension=".plist" mimeType="application/x-javascript-config" />
            <mimeMap fileExtension=".apk" mimeType="application/x-javascript-config" />
            <mimeMap fileExtension=".pem" mimeType="application/x-javascript-config" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>

